@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

:root {
  --nebulosa: rgb(240, 204, 255);
  --milky-way: rgba(249, 235, 255, 1);
  --saturn: rgba(61, 0, 147, 1);
  --moon: rgba(217, 4, 121, 1);
  --eclipse: rgba(244, 85, 172, 1);
  --dark-side: rgba(185, 0, 92, 1);
  --dark-sky: rgb(29, 16, 48);
  --primary-hover: rgba(85, 64, 116, 1);
  --primary-pressed: rgba(54, 38, 78, 1);
  --white: rgba(255, 255, 255, 1);

  --screen-mobile: 660px;
  --screen-tablet: 768px;
  --screen-desktop: 1024px;
}

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--dark-sky);
  width: 100%;
}

main {
  display: grid;
}

.wrapper {
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-size: 107.5px;
  font-weight: 900;
  font-style: normal;
  line-height: normal;
  align-self: stretch;
}

/*@media screen and (max-width: 660px) {
  h1 {
    font-size: 65px;
    font-weight: 900;
    line-height: 80px;
  }
}*/

h2 {
  font-size: 51.3px;
  font-weight: 500;
}

@media screen and (max-width: 660px) {
  h2 {
    font-size: 31px;
    font-weight: 900;
  }
}

h3 {
  font-size: 49px;
  font-weight: 900;
}

h4 {
  font-family: "Covered By Your Grace";
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

h5 {
  font-size: 25px;
  font-weight: 900;
}

@media screen and (max-width: 660px) {
  h5 {
    font-size: 20px;
    font-weight: 900;
  }
}

h6 {
  font-size: 20px;
  font-weight: 900;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .visible-mobile {
    display: none;
  }
}

.link {
  display: inline-flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
}

.link:hover {
  color: var(--milky-way);
}

.link:active {
  color: var(--nebulosa);
}

.link:disabled {
  color: hwb(255 255% 255% / 0.38);
}

.button {
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0 !important;
  padding: 8px 16px;
  border-radius: 8px;
}

.button--contained-dark-sky {
  display: inline-flex;
  color: var(--white);
  background-color: var(--dark-sky);
}

.button--contained-dark-sky:hover {
  color: var(--white);
  background-color: var(--primary-hover);
}

.button--contained-dark-sky:active {
  color: var(--nebulosa);
  background-color: var(--primary-pressed);
}

.button--contained-nebulosa:disabled {
  opacity: 0.38;
  color: var(--white);
  background-color: var(--dark-sky);
}

.button--contained-white {
  display: inline-flex;
  color: var(--dark-sky);
  background-color: var(--white);
}

.button--contained-white:hover {
  color: var(--dark-sky);
  background-color: var(--milky-way);
}

.button--contained-white:active {
  color: var(--white);
  background-color: var(--nebulosa);
}

.button--outlined {
  display: inline-flex;
  color: var(--nebulosa);
  border: 3px solid var(--nebulosa);
  justify-content: center;
  align-items: center;
}

.button--outlined:hover {
  color: var(--milky-way);
  background-color: rgba(240, 204, 255, 0.18);
  border: 3px solid var(--milky-way);
}

.button--outlined:active {
  color: var(--saturn);
  background-color: rgba(192, 75, 242, 0.18);
  border: 3px solid var(--saturn);
}

.button--outlined:disabled {
  opacity: 0.38;
  color: var(--nebulosa);
  border: var(--nebulosa);
}

.icon-button {
  display: inline-flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  fill: var(--nebulosa);
  width: 40px;
  height: 40px;
}

.icon-button:hover {
  fill: var(--milky-way);
}

.icon-button:active {
  fill: var(--saturn);
}

.icon-button:disabled {
  opacity: 0.38;
  fill: var(--nebulosa);
}

.fab {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.title-section {
  margin: 0;
  text-align: center;
  align-self: stretch;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
}

.caption {
  font-size: 14px;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 16px 30px;
  overflow: hidden;
}

@media screen and (max-width: 660px) {
  .header {
    padding: 12px 16px;
  }
}

@media screen and (max-width: 660px) {
  .logo {
    width: 86px;
    height: 32px;
  }
}

@media screen and (max-width: 660px) {
  .header a {
    margin-right: 0;
  }
}
  
.menu {
  display: inline-flex;
  padding: 10px 12px 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  /*border: 1px solid var(--LinearStroke, rgba(240, 204, 255, 0.40));*/
  border: 1px rgba(240, 204, 255, 0.4) 0%;
  border-image: linear-gradient(
    to right,
    rgba(240, 204, 255, 0.4) 0%,
    rgba(240, 204, 255, 0.85) 67%,
    rgba(240, 204, 255, 1) 100%
  );
  border-image-slice: 1;
  background: var(--LinearBG, linear-gradient(180deg, rgba(240, 204, 255, 0.00) 0%, rgba(240, 204, 255, 0.03) 17.19%, rgba(240, 204, 255, 0.07) 37.5%, rgba(240, 204, 255, 0.17) 85.42%, rgba(240, 204, 255, 0.20) 100%), rgba(32, 18, 53, 0.90));
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: max-content;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.canva {
  padding: 88px 0 160px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 200px;
}

@media screen and (max-width: 1280px) {
  .canva {
    padding: 0;
    gap: 24px;
  }
}

@media screen and (max-width: 834px) {
  .canva {
    margin-bottom: 250px;
    margin-top: 72px;
  }
}

#menu {
  list-style-type: none;
  margin: 0px;
}

#menuToggle input {
  display: none;
}

/*@media screen and (max-width: 660px) {
  .menu a:nth-child(1) {
    display: none;
  }

  .menu a:nth-child(2) {
    display: none;
  }

  .menu a:nth-child(4) {
    display: none;
  }

  .menu #cv {
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 0 !important;
    padding: 8px 16px 8px 16px;
    display: inline-flex;
    color: var(--dark-sky);
    background-color: var(--nebulosa);
  }
    
  .menu #cv:hover {
      color: var(--dark-sky);
      background-color: var(--milky-way);
  }
    
  .menu #cv:active {
      color: var(--white);
      background-color: var(--saturn);
  }

  .menu #cv:disabled {
    opacity: 0.38;
    color: var(--nebulosa);
    background-color: var(--dark-sky);
  }
}/*

/*
@media screen and (max-width: 660px) {
  #menuToggle {
    display: block;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 11px;
    right: 7px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--nebulosa);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--nebulosa);
  }

  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 16px;
    padding-top: 76px;
    background: var(--dark-sky);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  #menu li {
    padding: 8px 16px 8px 16px;
    font-size: 22px;
  }

  #menu .link {
    padding: 0px;;
  }

  #menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
    display: block;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
  }
}
*/


.canva__container {
  display: flex;
  max-width: 1146px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
}

@media screen and (max-width: 834px) {
  .canva__container {
    align-items: center;
    gap: 40px;
  }
}

.canva__blur {
  background-image: url(assets/desk_top_blur.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  position: absolute;
  width: 1440px;
  height: 892px;
  top: 0;
  right: 0;
  z-index: -1;
}

.canva__container-text {
  display: flex;
  /*padding: 12px;*/
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

@media screen and (max-width: 1280px) {
  .canva__container-text {
   gap: 24px;
   align-self: stretch;
  }
}

@media screen and (max-width: 834px) {
  .canva__container-text {
   gap: -824px;
   align-self: stretch;
  }
}

.canva__draw-area {
  width: 100%;
  height: 100%;
}

.canva h1 {
  max-width: 1146;
  flex: 1 0 0;
  margin-bottom: -32px;
  margin-top: 0;
  text-align: center;
  line-height: 130px;
  text-align: center;
  max-width: 90vw; /* Limita la larghezza al 90% dello schermo */
  white-space: normal; /* Permette l'a capo naturale */
}

@media screen and (max-width: 834px) {
  .canva h1 {
    margin-bottom: 4px;
  }
}

.canva__subtitle {
  color: var(--white);
  opacity: 0.9;
  font-size: 51.31px;
  font-weight: 500;
  margin: 0;
  line-height: normal;
  text-align: center;
  max-width: 90vw; /* Limita la larghezza al 90% dello schermo */
  white-space: normal; /* Permette l'a capo naturale */
}

/*@media screen and (max-width: 660px) {
  .canva__subtitle {
    font-size: 23px;
  }
}*/


.canva__boxes {
  display: flex;
  max-width: 1146px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

@media screen and (max-width: 834px) {
  .canva__boxes {
    flex-direction: column;
    align-items: center;
  }
}

.canva__big-box {
  display: flex;
  padding: 16px;
  position: relative;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 16px;
  background: var(--white);
  gap: 32px;
}

@media screen and (max-width: 834px) {
  .canva__big-box {    
    display: flex;
    flex: none;
    height: 400px;
    justify-content: flex-end;
  }
}

.canva__caption {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  position: absolute;
  right: 48px;
  bottom: -136px;
}

.canva__caption-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  margin: 0;
  padding: 0;
}

.arrow_pink {
  display: flex;
  padding-bottom: 12px;
  flex-direction: column;
  align-items: flex-start;
}

.canva__medium-small-boxes {
  display: flex;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
}

@media screen and (max-width: 834px) {
  .canva__medium-small-boxes {   
    order: -1; 
    display: flex;
    align-items: center;
  }
}

.canva__medium-box {
  display: flex;
  padding: 30px 30px 26px 30px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1\1;
  border-radius: 16px;
  background: var(--saturn);
  align-self: stretch;
}

.canva__small-boxes {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.canva__small-box {
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 16px;
  background: var(--saturn);
}

@media screen and (max-width: 660px) {
  .canva__image {
    order: 1;
    width: 180px;
  }

  .canva__image img {
    width: 180px;
  }
}

.myworks {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  padding: 0px 30px 0px 30px;
}

.container-cards {
  display: grid;
  max-width: 1380px;
  height: 1358px;
  row-gap: 24px;
  column-gap: 24px;
  grid-template-rows: repeat(4, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media screen and (max-width: 1280px) {
  .container-cards {
    display: grid;
    height: 1336px;
    row-gap: 24px;
    column-gap: 24px;
    align-self: stretch;
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 834px) {
  .container-cards {   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    height: 3500px;
  }
}

.card--large_1 {
  display: flex;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
}

.card--regular_2 {
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
}

@media screen and (max-width: 834px) {
  .card--regular_2 {   
    display: none
  }
}

.card--long_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  grid-row: 1 / span 2;
  grid-column: 4 / span 1;
}

@media screen and (max-width: 1280px) {
  .card--long_3 {   
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
  }
}

.card--long_4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  grid-row: 2 / span 2;
  grid-column: 1 / span 1;
}

@media screen and (max-width: 1280px) {
  .card--long_4 {   
    grid-row: 3 / span 2;
    grid-column: 3 / span 1;
  }
}

.card--large_5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
}

@media screen and (max-width: 1280px) {
  .card--large_5 {   
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
  }
}

.card--large_6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  grid-row: 3 / span 1;
  grid-column: 2 / span 2;
}

@media screen and (max-width: 1280px) {
  .card--large_6 {   
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
  }
}

.card--regular_7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  grid-row: 3 / span 1;
  grid-column: 4 / span 1;
}

@media screen and (max-width: 1280px) {
  .card--regular_7 {   
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
  }
}

.card--regular_8 {
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
}

@media screen and (max-width: 1280px) {
  .card--regular_8 {   
    display: none;
  }
}

.card--large_9 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  grid-row: 4 / span 1;
  grid-column: 2 / span 2;
}

@media screen and (max-width: 1280px) {
  .card--large_9 {   
    grid-row: 5 / span 1;
    grid-column: 1 / span 2;
  }
}

.link_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  grid-row: 4 / span 1;
  grid-column: 4 / span 1;
  background: var(--saturn);
  border-radius: 12px;
}

@media screen and (max-width: 1280px) {
  .link_container {   
    grid-row: 5 / span 1;
    grid-column: 3 / span 1;
  }
}

.arrow_white {
  width: 84px;
  height: 97px;
  transform: rotate(-90deg);
  stroke-width: 2.5px;
  stroke: var(--white);
}

@media screen and (max-width: 660px) {
  .myworks {
    padding: 0px 16px 0px 16px;
  }
}

.card {
  align-items: center;
  align-self: stretch;
  gap: 10px;
  position: relative;
  border-radius: 12px;
  background: var(--saturn);
  overflow: hidden;
}

@media screen and (max-width: 834px) {
  .card {
    width: 100%;
    height: 500px;
  }
}

.card__picture {
  width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card::after {
  opacity: 0.20;
  /* background: var(--primary-hover); */
  filter: blur(50px);
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card h5 {
  margin: 0;
  color: var(--dark-sky);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* .card:hover {
  border: 3px solid var(--white);
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}

.card:active {
  border: 3px solid var(--nebulosa);
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}

.card--long {
  height: 548px;
  /* border: 3px solid var(--white); 
}


@media screen and (max-width: 660px) {
  .card--long {
    height: 302px;
  }
}

.card--short {
  height: 430px;
  /* border: 3px solid var(--white);
}

@media screen and (max-width: 660px) {
  .card--short {
    height: 302px;
    /*order: 2;*/
  }
}

/* .card-title-container {
  position: relative;
  bottom: 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  padding: 8px 12px;
  margin: 16px;
  background-color: var(--white);
  box-sizing: border-box;
  opacity: 0;
  transition : ease-out .3s;
  -webkit-transition : ease-out .3s;
  -moz-transition : ease-out .3s;
  z-index: 2;
} +/

@media screen and (max-width: 660px) {
  .card-title-container {
    display: none;
    /* opacity: unset;
    padding: 8px 12px;
    bottom: 84px;
  }
} */
    
/* Animazione con ease-out */
@keyframes cardTitleAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .card:hover .card-title-container {
  animation: cardTitleAnimation 0.3s ease-out;
  opacity: 1;
}

.card:active .card-title-container {
  animation: cardTitleAnimation 0.3s ease-out;
  opacity: 1;
  color: var(--white);
  background-color: var(--milky-way);
} */

.container-cards-row {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  max-width: 1380px;
}

@media screen and (max-width: 660px) {
  .container-cards-row {
    display: flex;
    flex-direction: column;
  }
}

.container-cards-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 24px;
}

.about {
  display: flex;
  max-width: 1380px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 250px;
}

@media screen and (max-width: 834px) {
  .about {
    margin-top: 150px;
  } 
}


.about_container {
  display: grid;
  max-width: 1380px;
  height: 444px;
  row-gap: 24px;
  column-gap: 24px;
  grid-template-rows: repeat(4, minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

/*@media screen and (max-width: 1280px) {
  .about_container {
    display: flex;
    flex-direction: column;
    height: 420px;
  }
}*/

@media screen and (max-width: 1280px) {
  .about_container {
    display: grid;
    flex-direction: column;
    height: 556px;
    flex-shrink: 0;
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 834px) {
  .about_container {
    display: flex;
    align-self: stretch;
    height: auto;
  }
}

/*.about__row {
  display: flex;
  flex-direction: row;
  gap: 108px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

@media screen and (max-width: 660px) {
  .about__row {
    flex-direction: column;
    gap: 32px;
  }
}*/

@media screen and (max-width: 1280px) {
  .about__picture {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
}

.about__picture_container {
  justify-content: center;
  align-items: center;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  border-radius: 12px;
}

@media screen and (max-width: 1280px) {
  .about__picture_container {
    display: flex;
    justify-content: center;
    align-self: stretch;
    grid-row: 4 / span 2;
    grid-column: 1 / span 1;
  }
}

.about__picture img {
  flex: 1 0 0;
  align-self: stretch;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

@media screen and (max-width: 1280px) {
  .about__picture img {
    object-position: top center;
  }
}

/*.about__picture-square {
  width: 450px;
  height: 450px;
  flex-shrink: 0;
  border: 4px solid var(--moon);
}*/

.about__text {
  padding: 24px 56px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  grid-row: 1 / span 3;
  grid-column: 2 / span 2;
  border-radius: 12px;
  background: var(--saturn);
}

@media screen and (max-width: 1280px) {
  .about__text {

    grid-row: 1 / span 3;
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 834px) {
  .about__text {
    width: unset;
    align-self: stretch;
  }
}

.about__text--pink {
  color: var(--eclipse);
  font-weight: 700;
}

.about__text--heart-icon {
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.heart-icon {
  background-image: url(assets/heart_icon.svg);
  width: 24px;
  height: 24px;
}

.about__small-boxe_1 {
  flex: 1 0 0;
  align-self: stretch;
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
  border-radius: 12px;
  background: var(--saturn);
}

.about__small-boxe_2 {
  flex: 1 0 0;
  align-self: stretch;
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;
  border-radius: 12px;
  background: var(--saturn);
}

@media screen and (max-width: 1280px) {
  .about__small-boxe_2 {
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
  }
}

.about__blur {
  background-image: url(assets/desk_bottom_blur.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 1440px;
  height: 892px;
  left: 0;
  z-index: -1;
}

.contacts {
  display: flex;
  max-width: 1380px;
  width: 100%;
  flex-direction: column;
  padding: 210px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 24px;
  background: var(--moon);
  position: relative;
  overflow: hidden;
  margin-top: 250px;
}

@media screen and (max-width: 834px) {
  .contacts {
    padding-top: 144px;
    gap: unset;
    margin-top: 150px;
  }
}

.contacts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 660px) {
  .contacts__container {
    padding-bottom: 48px;
  }
}

.contacts__container-text {
  color: var(--milky-way);
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 660px) {
  .contacts__container-text {
      font-size: 31px;
      font-weight: 900;
  }
}

.contacts__container-text--blue {
  color: var(--dark-sky);
}

.contacts__paws {
  display: flex;
  padding: 0px 0px 0px 0px;
  align-items: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

@media screen and (max-width: 660px) {
  .contacts__paws img {
      width: 180px;
      height: 96px;
  }
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  padding: 24px 30px 24px 30px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 660px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding: 24px 16px 24px 16px;
    row-gap: 40px;
  }
}

.footer-right {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 660px) {
  .footer-right {
    justify-content: center;
  }
}

.footer-right a {
  padding: 0 8px 0 8px;
}

.footer-right span {
  padding-right: 8px;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: 660px) {
  .footer-left {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}

.footer-left p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
}

.footer-left__unicorn {
  font-size: 20px;
  font-weight: 900;
}