@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --nebulosa: rgba(228, 168, 254, 1);
  --milky-way: rgba(240, 204, 255, 1);
  --saturn: rgba(192, 75, 242, 1);
  --moon: rgba(217, 4, 121, 1);
  --eclipse: rgba(244, 85, 172, 1);
  --dark-side: rgba(185, 0, 92, 1);
  --dark-sky: rgba(44, 30, 64, 1);
  --primary-hover: rgba(85, 64, 116, 1);
  --primary-pressed: rgba(54, 38, 78, 1);
  --white: rgba(255, 255, 255, 0.87);
}

body {
  /*margin: 0 30px 24px 30px;*/
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  background-color: #2C1E40;
}

h1 {
  font-size: 100px;
  font-weight: 700;
  padding-bottom: 4px;
}

h2 {
  font-size: 49px;
  font-weight: 700;
}

h3 {
  font-size: 39px;
  font-weight: 700;
}

h4 {
  font-size: 31px;
  font-weight: 700;
}

h5 {
  font-size: 25px;
  font-weight: 700;
}

h6 {
  font-size: 20px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.link {
  display: inline-flex;
  padding: 16px 12px 15px 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--nebulosa);
  font-size: 18px;
  font-weight: 700;
}

.link:hover {
  color: var(--milky-way);
}

.link:active {
  color: var(--saturn);
}

.link:disabled {
  color: (228, 168, 254, 0.38);
}

.button {
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0 !important;
  padding: 8px 12px 8px 12px;
}

.button--contained-dark-sky {
  display: inline-flex;
  color: var(--nebulosa);
  background-color: var(--dark-sky);
  width: 216px;
}

.button--contained-dark-sky:hover {
  color: var(--nebulosa);
  background-color: var(--primary-hover);
}

.button--contained-dark-sky:active {
  color: var(--nebulosa);
  background-color: var(--primary-pressed);
}

.button--contained-nebulosa:disabled {
  opacity: 0.38;
  color: var(--nebulosa);
  background-color: var(--dark-sky);
}

.button--contained-nebulosa {
  display: inline-flex;
  color: var(--dark-sky);
  background-color: var(--nebulosa);
}

.button--contained-nebulosa:hover {
  color: var(--dark-sky);
  background-color: var(--milky-way);
}

.button--contained-nebulosa:active {
  color: var(--white);
  background-color: var(--saturn);
}

.button--contained-nebulosa:disabled {
  opacity: 0.48;
  color: var(--dark-sky);
  background-color: var(--nebulosa);
}

.button--outlined {
  display: inline-flex;
  color: var(--nebulosa);
  border: 3px solid var(--nebulosa);
  width: 216px;
  justify-content: center;
  align-items: center;
}

.button--outlined:hover {
  color: var(--milky-way);
  background-color: rgba(240, 204, 255, 0.18);
  border: 3px solid var(--milky-way);
}

.button--outlined:active {
  color: var(--saturn);
  background-color: rgba(192, 75, 242, 0.18);
  border: 3px solid var(--saturn);
}

.button--outlined:disabled {
  opacity: 0.38;
  color: var(--nebulosa);
  border: var(--nebulosa);
}

.icon-button {
  display: inline-flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  fill: var(--nebulosa);
}

.icon-button:hover {
  fill: var(--milky-way);
}

.icon-button:active {
  fill: var(--saturn);
}

.icon-button:disabled {
  opacity: 0.38;
  fill: var(--nebulosa);
}

.title-section {
  margin: 0;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
}

.caption {
  font-size: 14px;
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 8px 30px 24px 30px;
  overflow: hidden;
  align-items: center;
}

.header a {
  margin-right: 28px;
}
  
.header-right {
  margin-left: auto;
}
  
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.canva {
  margin: 142px 30px 0 130px;
  display: flex;
  flex-direction: row;
  min-height: 812px;
}

.canva__blur {
  background-image: url(assets/desk_top_blur.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  position: absolute;
  width: 1440px;
  height: 892px;
  top: 0;
  right: 0;
  z-index: -1;
}

.canva__container-text {
  z-index: 1;
}

.canva h1 {
  margin: 0;
}

.canva__subtitle {
  color: var(--White);
  font-size: 50px;
  font-weight: 400;
  margin: 0;
}

.canva__image {
  position: absolute;
  right: 130px;
  top: 382px;
}

.myworks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.card {
  justify-content: center;
  align-items: center;
}

.card:hover {
  border: 3px solid var(--milky-way);
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}

.card:active {
  border: 3px solid var(--saturn);
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}

.card--long {
  width: 682px;
  height: 548px;
  border: 3px solid var(--nebulosa);
}

.card--short {
  width: 682px;
  height: 430px;
  border: 3px solid var(--nebulosa);
}

.card-title-container {
  position: relative;
  bottom: 100px;
  width: 650px;
  height: 64px;
  padding: 16px;
  margin: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  background-color: var(--milky-way);
  box-sizing: border-box;
  display: flex;
  opacity: 0;
  transition : ease-out .3s;
  -wekit-transition : ease-out .3s;
  -moz-transition : ease-out .3s;
}
    
/* Animazione con ease-out */
@keyframes cardTitleAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card:hover .card-title-container {
  animation: cardTitleAnimation 0.3s ease-out;
  opacity: 1;
}

.card:active .card-title-container {
  animation: cardTitleAnimation 0.3s ease-out;
  opacity: 1;
  color: var(--white);
  background-color: var(--saturn);
}

.container-cards-row {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.container-cards-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 194px 30px 194px 30px;
  gap: 40px;
}

.about__row {
  display: flex;
  flex-direction: row;
  gap: 108px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.about__picture-square {
  width: 450px;
  height: 450px;
  flex-shrink: 0;
  border: 4px solid var(--moon);
}

.about__text {
  width: 566px;
}

.about__text--pink {
  color: var(--eclipse);
  font-weight: 700;
}

.about__text--heart-icon {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.heart-icon {
  background-image: url(assets/heart_icon.svg);
  width: 24px;
  height: 24px;
}

.about__blur {
  background-image: url(assets/desk_bottom_blur.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 1440px;
  height: 892px;
  left: 0;
  z-index: -1;
}

.contacts {
  display: flex;
  padding: 210px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: var(--moon);
  width: 100%;
  margin: 0;
}

.contacts__text {
  color: var(--milky-way);
  text-align: center;
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  margin: 24px 30px 24px 30px;
}

.footer-right {
  margin-left: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.footer-right a {
  padding: 0 8px 0 8px;
}

.footer-right span {
  padding-right: 8px;
  font-size: 18px;
  font-weight: 700;
}