/* Style the header with a grey background and some padding */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --nebulosa: rgba(228, 168, 254, 1);
  --milky-way: rgba(240, 204, 255, 1);
  --saturn: rgba(192, 75, 242, 1);
  --moon: rgba(217, 4, 121, 1);
  --eclipse: rgba(244, 85, 172, 1);
  --dark-side: rgba(185, 0, 92, 1);
  --dark-sky: rgba(44, 30, 64, 1);
  --primary-hover: rgba(85, 64, 116, 1);
  --primary-pressed: rgba(54, 38, 78, 1);
  --white: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0 30px 24px 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  background-color: #2C1E40;
}

h1 {
  font-size: 100px;
  font-weight: 700;
}

h2 {
  font-size: 49px;
  font-weight: 700;
}

h3 {
  font-size: 39px;
  font-weight: 700;
}

h4 {
  font-size: 31px;
  font-weight: 700;
}

h5 {
  font-size: 25px;
  font-weight: 700;
}

h6 {
  font-size: 20px;
  font-weight: 700;
}

a {
  display: inline-flex;
  padding: 16px 12px 15px 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--nebulosa);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: var(--milky-way);
}

a:active {
  color: var(--saturn);
}

a:disabled {
  color: (228, 168, 254, 0.38);
}

.button {
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0 !important;
}

.button--contained-dark-sky {
  display: inline-flex;
  padding: 16px 12px 15px 12px;
  color: var(--nebulosa);
  background-color: var(--dark-sky);
}

.button--contained-dark-sky:hover {
  color: var(--nebulosa);
  background-color: var(--primary-hover);
}

.button--contained-dark-sky:active {
  color: var(--nebulosa);
  background-color: var(--primary-pressed);
}

.button--contained-nebulosa:disabled {
  opacity: 0.38;
  color: var(--nebulosa);
  background-color: var(--dark-sky);
}

.button--contained-nebulosa {
  display: inline-flex;
  padding: 16px 12px 15px 12px;
  color: var(--dark-sky);
  background-color: var(--nebulosa);
}

.button--contained-nebulosa:hover {
  color: var(--dark-sky);
  background-color: var(--milky-way);
}

.button--contained-nebulosa:active {
  color: var(--white);
  background-color: var(--saturn);
}

.button--contained-nebulosa:disabled {
  opacity: 0.48;
  color: var(--dark-sky);
  background-color: var(--nebulosa);
}

.button--outlined {
  display: inline-flex;
  padding: 16px 12px 15px 12px;
  color: var(--nebulosa);
  border: var(--nebulosa);
}

.button--outlined:hover {
  color: var(--Milky-way);
  background-color: rgba(240, 204, 255, 0.18);
  border: 3px solid var(--milky-way);
}

.button--outlined:active {
  color: var(--saturn);
  background-color: rgba(192, 75, 242, 0.18);
  border: 3px solid var(--saturn);
}

.button--outlined:disabled {
  opacity: 0.38;
  color: var(--nebulosa);
  border: var(--nebulosa);
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
}

.caption {
  font-size: 14px;
  font-weight: 400;
}

.header {
  overflow: hidden;
  padding: 0 0 16px 0;
  align-items: center;
  display: flex;
}

.header a {
  margin-right: 28px;
}
  
.header-right {
  float: right;
  margin-left: auto;
}
  
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}